.header__background {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 100% 100%;
    background-position:center;
    background-repeat: no-repeat;
  }
  .nav__menu {
    display: none;
  }
  .nav__toggler {
    display: none;
  }

  /* #menu__mobile {

  } */

@media screen and (max-width:480px) {
  .header__background {
    background-image: url('../images/mobile/image-header.jpg');
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
  }
}
.nav__menu {
  display: block;
}

.nav__toggler {
  display: inline;
  cursor: pointer;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

/* Active Class */
.nav__active {
  /* transform: translateX(0%); */
  display: none;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#mobileMenuContainer:before{
  content: "";
  position:absolute;
  height: 0;
  width: 0;
  right: 24px;
  top: 68px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-bottom: 10px solid white;

}